In [1]:
import pandas as pd

In [2]:
dataset = pd.read_csv('philadelphia_2018.csv', low_memory=False)

In [3]:
dataset.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
0,2018-01-01 00:24:00,2018-01-01 00:42:00,3124,3073,3708,Indego30,Race Street Pier,9th & Spring Garden
1,2018-01-01 00:38:00,2018-01-01 10:10:00,3023,3066,3288,Indego365,Rittenhouse Square,19th & Lombard
2,2018-01-01 00:48:00,2018-01-01 01:10:00,3026,3023,11735,Indego30,2nd & South,Rittenhouse Square
3,2018-01-01 01:03:00,2018-01-01 01:24:00,3045,3037,5202,Indego30,13th & Locust,Pennsylvania Convention Center
4,2018-01-01 01:05:00,2018-01-01 01:09:00,3115,3058,5142,Indego30,"19th & Girard, PTTI",20th & Fairmount

In [4]:
dataset.tail()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name
671813,2018-12-31 23:18:00,2019-01-01 00:04:00,3037,3037,14519,Day Pass,Pennsylvania Convention Center,Pennsylvania Convention Center
671814,2018-12-31 23:25:00,2019-01-01 00:06:00,3168,3168,11891,Indego30,20th & Sansom,20th & Sansom
671815,2018-12-31 23:26:00,2019-01-01 06:44:00,3026,3026,5410,Indego30,2nd & South,2nd & South
671816,2018-12-31 23:33:00,2018-12-31 23:47:00,3063,3150,2701,Day Pass,17th & Pine,"15th & Castle, DiSilvestro Playground"
671817,2018-12-31 23:39:00,2018-12-31 23:49:00,3007,3049,3471,Indego30,"11th & Pine, Kahn Park",Foglietta Plaza

In [5]:
dataset['start_station_id'].head(15)

0     3124
1     3023
2     3026
3     3045
4     3115
5     3045
6     3046
7     3098
8     3055
9     3056
10    3021
11    3160
12    3160
13    3154
14    3156
Name: start_station_id, dtype: int64

In [6]:
dataset.loc[0, 'start_time']

'2018-01-01 00:24:00'

In [7]:
dataset['start_time'] = pd.to_datetime(dataset['start_time'])
dataset['end_time'] = pd.to_datetime(dataset['end_time'])

In [8]:
dataset['duration_of_rent']= dataset['end_time']-dataset['start_time']

In [9]:

dataset.head()

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration_of_rent
0,2018-01-01 00:24:00,2018-01-01 00:42:00,3124,3073,3708,Indego30,Race Street Pier,9th & Spring Garden,0 days 00:18:00
1,2018-01-01 00:38:00,2018-01-01 10:10:00,3023,3066,3288,Indego365,Rittenhouse Square,19th & Lombard,0 days 09:32:00
2,2018-01-01 00:48:00,2018-01-01 01:10:00,3026,3023,11735,Indego30,2nd & South,Rittenhouse Square,0 days 00:22:00
3,2018-01-01 01:03:00,2018-01-01 01:24:00,3045,3037,5202,Indego30,13th & Locust,Pennsylvania Convention Center,0 days 00:21:00
4,2018-01-01 01:05:00,2018-01-01 01:09:00,3115,3058,5142,Indego30,"19th & Girard, PTTI",20th & Fairmount,0 days 00:04:00

In [11]:
dataset['duration_of_rent'].max()

Timedelta('5 days 05:51:00')

In [23]:
dataset[dataset["duration_of_rent"] < '0 days 00:00:00']

,start_time,end_time,start_station_id,end_station_id,bike_id,user_type,start_station_name,end_station_name,duration_of_rent
603513,2018-11-04 01:21:00,2018-11-04 01:20:00,3011,3009,05262,Indego30,38th & Powelton,33rd & Market,-1 days +23:59:00
603524,2018-11-04 01:42:00,2018-11-04 01:14:00,3190,3108,03718,Indego30,17th & Locust,15th & Market,-1 days +23:32:00
603527,2018-11-04 01:47:00,2018-11-04 01:00:00,3167,3015,14540,Day Pass,12th & Chestnut,"4th & Walnut, NPS",-1 days +23:13:00
603529,2018-11-04 01:48:00,2018-11-04 01:00:00,3010,3099,03565,Indego30,15th & Spruce,4th & Washington,-1 days +23:12:00
603530,2018-11-04 01:49:00,2018-11-04 01:00:00,3167,3015,11895,Day Pass,12th & Chestnut,"4th & Walnut, NPS",-1 days +23:11:00
603532,2018-11-04 01:51:00,2018-11-04 01:00:00,3167,3015,14487,Day Pass,12th & Chestnut,"4th & Walnut, NPS",-1 days +23:09:00
603536,2018-11-04 01:54:00,2018-11-04 01:00:00,3086,3052,03448,Indego365,Broad & Christian,9th & Locust,-1 days +23:06:00